name: Dizipal Scraper

on:
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install seleniumbase
          # SeleniumBase için gerekli tarayıcı sürücülerini hazırla
          sbase install chromedriver

      - name: Run Scraper
        run: python scraper.py

      - name: Upload Results
        if: always() # Hata alsa bile dosyaları yükle
        uses: actions/upload-artifact@v4
        with:
          name: scrape-results
          path: |
            sonuc.html
            debug.png
