name: Dizipal Detail Scraper

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Python Setup
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install
        run: |
          pip install seleniumbase
          sbase install chromedriver

      - name: Run
        run: python scraper.py

      - name: Upload
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: dizi-detay-verisi
          path: |
            bolumler.html
            sayfa_son_hali.png
            hata_detay.png
            hata_kaynak.html
